<p id="notice"><%= notice %></p>
<div class="container">
<p id="storytitle">
  <%= image_tag @post.image.url(:medium) %>
  <%= @post.title %>
</p>
<p id="storytitle">
  BlendIt by: <%= @post.user.name %>
</p>

<!--<p>-->
<!--  <strong>Description:</strong>-->
<!--  <%=raw @post.description %>-->
<!--</p>-->

<p id="storycontent">
    <%=raw @post.content %>
</p>
</div>
<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to 'Back', posts_path %>
<!--Edit post Button-->
<%= link_to edit_post_path(@post), id: "story-btn", class: "text-btn", style: "font-family: 'Rasa'; font-size: 20px; opacity: 0.3;", id: "story-btn" do %>
  edit<i class="material-icons tooltipped" data-position="top" data-delay="0.5" data-tooltip="Edit"></i>
<% end %>
  <!--edit post end-->